<ion-header>
  <ion-toolbar>
    <ion-title>Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Year</ion-label>
      <ion-input [(ngModel)]="year" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Student 1 Marks</ion-label>
      <ion-input [(ngModel)]="studentOne" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Student 2 Marks</ion-label>
      <ion-input [(ngModel)]="studentTwo" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type ="button" (click)="updateStudent()" 
        color = "primary" shape ="full" expand = "block">
          Update Student
        </ion-button>
        <ion-button type ="button" (click)="backHome()" 
        color = "danger" shape ="full" expand = "block">
          Back to Home
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
